body {
    background-color: rgb(253, 251, 251);
    margin: 0cm;
}

#cabecalho {
    top: 0px;
    position: fixed;
    display: inline-block;
    background-color: aqua;
    width: max-content;
    padding: 20px 480px;
    align-content: center;
}

#minha_foto {
    position:absolute;
    top: 150px;
    width: 200px;
    margin-left: 5px;
}

#text {
    position: absolute;
    top: 350px;
    display: block;
    margin: 10px;
}

#rodape {
    position: relative;
    padding: 20px 500px;
}

#text2 {
    position: absolute;
    right: 200px;
    display: inline-block;
    top: 400px;
    margin: 10px;
}

#licoes_aprendidas {
    position: absolute;
    top: 535px;
}

#licoes_a_aprender {
    position: absolute;
    top: 535px;
    left: 310px;
}

#navigation {
   align-content: center;
   position: absolute;
   top: 100px;
   display: inline-block;
   right: 100px;
}
